body {
    margin: 0;
    background: linear-gradient(#0147a6, #013b8a);
    height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .card {
    background: #014aa9;
    color: white;
    padding: 40px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
  }
  
  .qr-box {
    background: white;
    padding: 10px;
    margin: 15px auto;
    width: fit-content;
    border-radius: 6px;
  }
  
  .secret-box {
    background-color: #0a5fd9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 14px;
    letter-spacing: 1px;
  }
  
  input {
    width: 100%;
    padding: 12px;
    margin: 12px 0;
    border-radius: 5px;
    border: none;
    outline: none;
    text-align: center;
    font-size: 18px;
  }
  
  button {
    background-color: #0f66dd;
    border: none;
    color: white;
    padding: 12px;
    border-radius: 20px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #176dee;
  }
  